<div class="w3-card-2">
  <header class="form-header w3-container w3-green">
    <h1>User Login</h1>
  </header>
  <form class="form w3-container w3-center" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group" [@loginFailed]="animateForm">
      <label for="username" class="w3-left w3-text-grey">Username</label>
      <input type="text" class="w3-input w3-border" id="username" required
            [(ngModel)]="userData.username" name="username" #username="ngModel">
    </div>

    <div class="form-group" [@loginFailed]="animateForm">
      <label for="password" class="w3-left w3-text-grey">Password</label>
      <input type="password" class="w3-input w3-border" id="password"
            [(ngModel)]="userData.password" name="password" #password="ngModel">
    </div>

    <footer class="footer w3-container w3-right">
      <button type="submit" class="w3-btn w3-green">Login</button>
    </footer>
  </form>
</div>
